@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --primary-color: #4a4fcf;
  --text-color: #000000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

::-webkit-scrollbar {
  display: none;
}


.main-header {
  background: transparent;
  backdrop-filter: blur(0.625rem);
  display: flex;
  align-items: center;
  padding: 1.25rem 6.25rem;
  position: fixed;
  top: 0;
  z-index: 999;
  flex-wrap: wrap;
  width: 100%;
  transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    margin-right: 10px;

    img {
      width: 30px;
    }
  }

  .menu-toggle {
    display: none;
  }

  .hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--primary-color);
  }

  .navbar {
    display: flex;

    a {
      font-size: 13px;
      margin-left: 16px;
      text-decoration: none;
      font-weight: 500;
      color: var(--text-color);
      transition: color 0.3s ease;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.header_change {
  background-color: white;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000000a9;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  display: none;

  .container {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 10px #0000003a;
    animation: slide-up 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

    h2 {
      font-weight: bolder;
      text-align: center;
      line-height: 30px;
    }

    button {
      font-weight: bolder;
      background-color: #47c5ff;
      padding: 10px 30px;
      border-radius: 7px;
      border: none;
      box-shadow: 0 2px 5px #0000003a;
      margin-top: 20px;
      cursor: pointer;

    }
  }
}


.home {
  background-image: url('/assets/J_Bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;

  p {
    top: 35%;
    text-align: center;
  }

  .back-name {
    position: absolute;
    font-size: 105px;
    text-shadow: 0.125rem 0.25rem 0.0625rem rgba(0, 0, 0, 0.25);
    font-weight: 900;
    line-height: 102%;
    z-index: 1;
    animation: slide-left 2s ease forwards;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  .front-name {
    position: absolute;
    font-size: 105px;
    font-weight: 900;
    line-height: 102%;
    color: transparent;
    -webkit-text-stroke: 0.125rem var(--primary-color);
    z-index: 3;
    animation: slide-right 2s ease forwards;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  .img-container {
    position: absolute;
    right: 10%;
    z-index: 2;
    width: 33%;
    animation: slide-up 2s ease forwards;
    animation-fill-mode: both;

    img {
      width: 100%;
    }

    .gradient-eff {
      position: absolute;
      width: 100%;
      height: 9.375rem;
      bottom: 0;
      background: linear-gradient(to top, white, transparent);
    }
  }

  .text-detail {
    position: absolute;
    left: 14%;
    top: 50%;
    width: 45%;

    h4 {
      font-size: clamp(24px, 4vw, 19px);
      font-style: italic;
      animation: slide-left 2s ease;
      animation-delay: 0.4s;
      animation-fill-mode: both;
    }

    p {
      text-align: start;
      animation: slide-left 2s ease forwards;
      animation-delay: 0.8s;
      animation-fill-mode: both;
    }

    button {
      padding: 10px 30px;
      margin: 1.25rem 0;
      border-radius: 0.3125rem;
      border: none;
      background: var(--primary-color);
      box-shadow: 0 0.125rem 0.3125rem #0000005c;
      animation: slide-left 2s ease-in-out both;
      animation-delay: 1s;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 0.9375rem;
        color: white;
      }

      &:hover {
        scale: 1.05;
      }
    }
  }


  .animate-scroll {
    position: absolute;
    left: 10%;
    bottom: 5%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 1;

    a {
      color: var(--text-color);
      text-decoration: none;

      p {
        font-size: 0.9375rem;
        animation: fading 3s ease-in-out infinite;
      }

      dotlottie-player {
        margin: auto;
      }
    }
  }
}


.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.125rem;
  background-image: url("/assets/J_Bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .mockups {
      background-image: url("/assets/Frame\ 4.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      width: 50%;
      height: 31.25rem;
      opacity: 0;
      transform: translateY(-12.5rem);
      animation: fallDown 3s cubic-bezier(0.3, 1.5, 0.5, 1) forwards;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;

      img {
        position: absolute;
        opacity: 0;
        transform: translateY(-12.5rem);
        animation: fallDown 3s cubic-bezier(0.3, 1.5, 0.5, 1) forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;

        &:nth-child(1) {
          width: 25rem;
          bottom: 0;
          left: 0%;
          animation-delay: 1s;
          animation-fill-mode: both;
        }

        &:nth-child(2) {
          width: 11.25rem;
          bottom: 0;
          right: 20%;
          animation-delay: 3s;
          animation-fill-mode: both;
        }
      }
    }

    .about-text {
      width: 35%;
      animation: slide-right 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
      animation-delay: 2s;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: clamp(1.50rem, 5vw, 2.50rem);
        font-weight: bold;
        text-shadow: 0 0.125rem 0.3125rem #00000063;
      }

      p {
        font-size: 15px;
      }
    }

    .cv-info {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: start;
      gap: 10px;

      button {
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        box-shadow: 0 2px 5px #00000065;
        border: none;
        background: var(--text-color);

        a {
          text-decoration: none;
          color: white;
          font-size: 12px;
        }
      }
    }
  }
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  width: 100%;

  .container {
    padding: 0.625rem 12.5rem;

    h2 {
      font-size: clamp(1.50rem, 5vw, 2.50rem);
      text-align: center;
      margin: 50px;
      text-shadow: 0 0.125rem 0.3125rem #00000078;
      animation: slide-up 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
      animation-range: entry 0% cover 40%;
      animation-timeline: view();
    }

    .tools {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .tool {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 240px;
        // height: 200px;
        height: clamp(150px, 12vw, 300px);
        animation: slide-up 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
        gap: 15px;
        animation-range: entry 0% cover 40%;
        animation-timeline: view();


        img {
          aspect-ratio: 16/10;
          object-fit: contain;
          // width: 200px;
          width: clamp(100px, 20vw, 200px);
          filter: drop-shadow(0 0.25rem 0.25rem #00000046);
        }

        p {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem;

  h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    text-align: center;
    line-height: 40px;
    margin: 3.125rem;
    text-shadow: 0 0.125rem 0.3125rem #00000078;
    animation: slide-up 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
    animation-range: entry 0% cover 40%;
    animation-timeline: view();
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.25rem;

    .work {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.625rem;
      padding: 10px;
      overflow: hidden;
      flex-direction: column;
      background: linear-gradient(227deg, transparent 0%, #065400ad 100%);
      box-shadow: 0 0.125rem 0.3125rem #00000053;
      animation: slide-up 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
      animation-range: entry 0% cover 40%;
      animation-timeline: view();
      animation-delay: 2s;
      position: relative;
      width: 400px;

      &:nth-child(2) {
        background: linear-gradient(229deg, transparent 0%, #0d00ff 100%);
        animation: slide-up 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
        animation-range: entry 0% cover 40%;
        animation-timeline: view();
        animation-delay: 1s;

        span {
          font-weight: 300;
        }
      }

      &:nth-child(3) {
        background: linear-gradient(225deg, transparent 0%, #e900ed 50%, #0a00c8 100%);
        animation-delay: 2s;
      }

      &:nth-child(4) {
        background: linear-gradient(229deg, transparent 0%, #0d00ff 50%, #0d00ff 100%);
        animation-delay: 1s;

        span {
          font-weight: 300;
        }
      }

      &:nth-child(5) {
        background: linear-gradient(227deg, transparent 0%, #ff6200 50%, #ff6200 100%);
        animation-delay: 1s;
      }

      img {
        aspect-ratio: 16/9;
        object-fit: cover;
        width: 100%;
        border-radius: 0.625rem;
        box-shadow: 0 0.125rem 0.3125rem #0000005f;
      }

      h4 {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        text-shadow: 0 0.125rem 0.3125rem #0000005a;
      }

      &:hover>button {
        bottom: 0;
      }

      button {
        cursor: pointer;
        margin-top: 10px;
        width: 100%;
        height: 100px;
        border: none;
        border-radius: 5px;
        position: absolute;
        right: 0;
        bottom: -100%;
        color: var(--primary-color);
        background: linear-gradient(to top, var(--text-color), transparent);
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 24px;
        color: white;
        font-weight: 900;

        a {
          text-decoration: none;
          color: white;
          font-weight: 900;
        }
      }
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 70%;
    background: #f6f6f6dd;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000003e;
    animation: slide-up 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
    animation-range: entry 0% cover 40%;
    animation-timeline: view();
    animation-delay: 1s;

    .text-info {
      width: 70%;

      h1 {
        font-size: 40px;
        font-weight: 900;
        text-shadow: 0 2px 4px #00000054;
        line-height: 45px;
      }

      p {
        margin-top: 10px;
        font-size: 14px;
      }

      .contact-media {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin-top: 20px;

        dotlottie-wc {
          width: 80px;
        }

        .contact-info {
          p {
            font-size: 12px;
          }

          a {
            text-decoration: none;
            color: var(--text-color);
            font-size: 14px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }

    .form-container {
      background-color: #ffffff;
      box-shadow: 0 2px 4px #0000003e;
      width: 50%;
      padding: 20px;
      border-radius: 10px;
      animation: slide-left 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
      animation-range: entry 0% cover 40%;
      animation-timeline: view();
      animation-delay: 1s;

      h1 {
        text-align: center;
        text-shadow: 0 2px 2px #00000035;
      }

      #form-card {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

        label {
          font-size: 14PX;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          height: 30px;
          margin-bottom: 20px;
          padding: 15px;
          outline: none;
          border-radius: 5px;
          border: none;
          box-shadow: 0 2px 3px rgba(127, 95, 255, 0.227);
          border: 1px solid var(--primary-color);
        }

        textarea {
          width: 100%;
          height: 50px;
          margin-bottom: 20px;
          padding: 15px;
          outline: none;
          border-radius: 5px;
          border: none;
          box-shadow: 0 2px 3px rgba(127, 95, 255, 0.227);
          border: 1px solid var(--primary-color);
          resize: none;
        }

        .submit-btn {
          padding: 6px 20px;
          background-color: var(--primary-color);
          color: white;
          border-radius: 5px;
          border: none;
          box-shadow: 0 2px 4px #753fea83;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: inset 0 0 28px 0 #0000005e;
  background: #f9f9f9;
  padding-top: 20px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 100px;
      filter: drop-shadow(0 2px 5px #00000040);
    }

    h1 {
      text-shadow: 0 2px 5px #00000040;
      font-style: italic;
      font-weight: 900;
      font-size: 30px;
      line-height: 159%;
    }

    h4 {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      color: #000;
    }

    .media {
      margin-top: 10px;

      a {
        margin: 5px;

        img {
          width: 50px;
          aspect-ratio: 1/1;
          object-fit: contain;
        }
      }
    }
  }

  hr {
    margin-top: 20px;
    width: 95%;
  }

  p {
    font-size: 14px;
  }
}











@media (min-width: 769px) and (max-width: 1228px) {
  .main-header {
    padding: 1.25rem 3.75rem;
    justify-content: space-between;
    flex-wrap: wrap;

    .navbar {
      gap: 1.5rem;

      a {
        margin-left: 0;
        padding: 0.5rem;
      }
    }
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6.25rem;
    height: 100dvh;

    .back-name {
      font-size: 50rem;
      font-weight: 900;
    }

    p {
      top: 40%;
    }

    .img-container {
      position: relative;
      width: 50%;
      top: unset;
      right: unset;


      .gradient-eff {
        height: 7.5rem;
      }
    }

    .text-detail {
      width: 90%;
      position: relative;
      left: unset;
      top: unset;
      text-align: center;
      padding: 0.625rem;

      h4 {
        font-size: 2rem;
        animation: slide-up 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      }

      p {
        font-size: 1rem;
        text-align: center;
        animation: slide-up 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      }

      button {
        animation: slide-up 2s ease-in-out both;
        animation-delay: 1s;
      }
    }

    .back-name,
    .front-name {
      font-size: clamp(5rem, 10vw, 7.5rem);
      text-align: center;
    }

    .animate-scroll {
      display: none;
    }
  }

  .about {
    padding: 0.625rem;
    margin-top: 18.75rem;

    .container {
      flex-direction: column;

      .mockups {
        width: 80%;
        padding: 0.625rem;
        height: 500px;


        img {

          &:nth-child(2) {
            left: 65%;
          }
        }
      }

      .about-text {
        width: 100%;
        text-align: justify;
        padding: 1.25rem;
        animation: slide-up 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        animation-delay: 2s;

        h2 {
          text-align: center;
        }

        p {
          text-align: center;
          font-size: 12px;
        }

        .cv-info {
          justify-content: center;
        }
      }
    }
  }

  .skill {

    .container {
      padding: 0.625rem 3.125rem;

      .tools {

        .tool {
          width: 12.5rem;
          height: 12.5rem;
        }
      }
    }
  }

  .contact {
    margin: 80px 0px;

    .container {
      width: 95%;
      padding: 20px;
    }
  }

}









@media (max-width: 768px) {
  .main-header {
    padding: 0.625rem 1.25rem;
    justify-content: space-between;
    align-items: center;

    .hamburger {
      display: block;
    }

    .navbar {
      display: none;
      flex-direction: column;
      width: 100%;

      a {
        padding: 0.75rem 1rem;
        width: 100%;
        margin: 0;
        border-top: 0.0625rem solid #ccc;
      }
    }

    .menu-toggle:checked+.hamburger+.navbar {
      display: flex;
    }
  }

  .popup {

    .container {
      width: 70%;

      h2 {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .home {
    height: 80dvh;

    .back-name {
      position: absolute;
      font-size: 3.125rem;
      text-shadow: 0.125rem 0.25rem 0.0625rem rgba(0, 0, 0, 0.25);
      font-weight: 900;
      line-height: 102%;
      z-index: 1;
    }

    .front-name {
      position: absolute;
      font-size: 3.125rem;
      font-weight: 900;
      line-height: 102%;
      color: transparent;
      -webkit-text-stroke: 0.125rem var(--primary-color);
      z-index: 3;
    }

    p {
      top: 35%;
    }

    .img-container {
      position: absolute;
      right: 15%;
      top: 10%;
      left: unset;
      z-index: 2;
      width: 60%;

      img {
        width: 100%;
      }

      .gradient-eff {
        height: 6.25rem;
      }
    }

    .text-detail {
      padding: 1.25rem;
      position: absolute;
      left: 0%;
      top: 55%;
      width: 100%;
      z-index: 5;
      text-align: center;

      h4 {
        font-size: 1.5rem;
        animation: slide-up 2s ease forwards;
        animation-delay: 0.4s;
        animation-fill-mode: both;
        line-height: 1.5625rem;
      }

      p {
        font-size: 12px;
        text-align: center;
        animation: slide-up 2s ease forwards;
        animation-delay: 0.8s;
        animation-fill-mode: both;
      }

      button {
        animation: slide-up 2s ease-in-out both;
        animation-delay: 1s;

        a {
          font-size: 12px;
        }
      }

    }

    .animate-scroll {
      a {
        display: none;
      }

    }

  }

  .about {
    padding: 0.625rem;
    margin-top: 30px;

    .container {
      flex-direction: column;

      .mockups {
        width: 100%;
        height: 300px;

        img {

          &:nth-child(1) {
            width: 150px;
            left: 10%;
          }

          &:nth-child(2) {
            bottom: 0%;
            left: 60%;
            width: 80px;
          }
        }

        .animate-scroll {
          display: none;
        }
      }

      .about-text {
        width: 100%;
        text-align: justify;
        padding: 5px;
        animation: slide-up 3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        animation-delay: 2s;

        h2 {
          text-align: center;
        }

        p {
          text-align: center;
          font-size: 12px;
        }

        .cv-info {
          justify-content: center;
        }
      }
    }
  }

  .skill {
    padding: 0;

    .container {
      padding: 0rem 0rem;

      h2 {
        margin: 20px;
      }

      .tools {

        .tool {
          width: 120px;
          height: 9.375rem;

          p {
            font-size: 0.9375rem;
            font-weight: bold;
          }
        }
      }
    }
  }

  .works {
    h1 {
      line-height: 30px;
    }

    .container {

      .work {

        img {
          width: 100%;
          border-radius: 4px;
        }

        h4 {
          font-size: 15px;
          margin-top: 10px;
        }
      }
    }
  }

  .contact {
    margin: 50px 0px;

    .container {
      width: 95%;
      flex-direction: column;
      padding: 20px;

      .text-info {
        width: 100%;

        h1 {
          font-size: 25px;
          text-align: center;
          line-height: 30px;
        }

        p {
          font-size: 12px;
          text-align: center;
        }

        .contact-icon {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 20px;
          flex-wrap: wrap;

          .contact-media {

            dotlottie-wc {
              width: 50px;
            }

            .contact-info {
              p {
                text-align: left;
                font-size: 10px;
              }

              a {
                font-size: 12px;
              }

              span {
                font-size: 12px;
              }
            }
          }
        }
      }

      .form-container {
        width: 100%;

        h1 {
          margin-bottom: 10px;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-shadow: inset 0 0 28px 0 #0000005e;
    background: #f9f9f9;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 70px;
      }

      h1 {
        font-size: 25px;
      }

      h4 {
        font-size: 12px;
      }

      .media {
        margin-top: 10px;

        a {
          margin: 5px;

          img {
            width: 40px;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
        }
      }
    }

    hr {
      width: 100%;
    }

    p {
      font-size: 12px;
    }
  }

}


// All Animations
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fallDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}